header {
    background: #BBBBBB;
    padding: 1.25rem 0;
}

.box-main {
    position: relative;
    width: 58.75rem;
    margin: 0 auto;
}


nav {
    position: absolute;
    top: 6.875rem;
    right: 0;

}

nav li {
    display: inline;
    margin: 0 0 0 0.9375rem;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 1.375rem;
    text-decoration: none;
}