header {
    background: #BBBBBB;
    padding: 1.25rem 0;
}

.box-main {
    position: relative;
    width: 58.75rem;
    margin: 0 auto;
}


nav {
    position: absolute;
    top: 6.875rem;
    right: 0;

}

nav li {
    display: inline;
    margin: 0 0 0 0.9375rem;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 1.375rem;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.produtos {
    width: 58.75rem;
    margin: 3.125rem auto;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    padding: 2.5rem 0;
    margin: 0 1.5%;
    padding: 1.875rem 1.25rem;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 0.625rem;
}

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:hover h2 {
    font-size: 2.125rem;
}

.produtos li:active {
    border-color: #BBBBBB;
}

.produtos h2 {
    font-size: 1.875rem;
    font-weight: bold;
}

.produto-preco {
    font-size: 1.375rem;
    font-weight: bold;
    margin-top: 0.625rem;
}

.produto-descricao {
    font-size: 1.125rem;
}

footer {
    text-align: center;
    background: url("assets/imagens/bg.jpg");
    padding: 2.5rem 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 0.8125rem;
    margin: 1.25rem
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;

}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.2);
}